[project]
name = "durable-terraform-workflow"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14.2"
dependencies = [
    "temporalio>=1.21.1",
]
